.info, .dark-mode .message-container .info, .message-container .success, .message-container .error, .message-container .warning, .success, .dark-mode .message-container .success, .error, .dark-mode .message-container .error, .warning, .dark-mode .message-container .warning {
  background: #def2fa;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  margin: 0 1rem 1rem 1rem;
  display: flex;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  position: relative;
}

.info i, .dark-mode .message-container .info i, .dark-mode .message-container .warning i, .dark-mode .message-container .error i, .dark-mode .message-container .success i, .message-container .success i, .message-container .error i, .message-container .warning i, .success i, .error i, .warning i {
  color: #005db7;
}

.info .fa-circle-xmark, .dark-mode .message-container .info .fa-circle-xmark, .dark-mode .message-container .warning .fa-circle-xmark, .dark-mode .message-container .error .fa-circle-xmark, .dark-mode .message-container .success .fa-circle-xmark, .success .fa-circle-xmark, .error .fa-circle-xmark, .warning .fa-circle-xmark {
  position: absolute;
  top: 1rem;
  right: 0.25rem;
  color: #51a9ff;
  cursor: pointer;
}

.info p, .dark-mode .message-container .info p, .dark-mode .message-container .warning p, .dark-mode .message-container .error p, .dark-mode .message-container .success p, .message-container .success p, .message-container .error p, .message-container .warning p, .success p, .error p, .warning p {
  color: #00004d;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.warning, .dark-mode .message-container .warning {
  background: #ffffcc;
}

.warning i, .dark-mode .message-container .warning i {
  color: #ccb602;
}

.warning .fa-circle-xmark, .dark-mode .message-container .warning .fa-circle-xmark {
  color: #e0c803;
}

.warning p, .dark-mode .message-container .warning p {
  color: #716501;
}

.error, .dark-mode .message-container .error {
  background: #fdd9d5;
}

.error i, .dark-mode .message-container .error i {
  color: #990000;
}

.error .fa-circle-xmark, .dark-mode .message-container .error .fa-circle-xmark {
  color: #ff4d4d;
}

.error p, .dark-mode .message-container .error p {
  color: maroon;
}

.success, .dark-mode .message-container .success {
  background: #d2f8d2;
}

.success i, .dark-mode .message-container .success i {
  color: green;
}

.success .fa-circle-xmark, .dark-mode .message-container .success .fa-circle-xmark {
  color: #00cd00;
}

.success p, .dark-mode .message-container .success p {
  color: #005500;
}

.message-container .info, .dark-mode .message-container .info, .dark-mode .message-container .warning, .dark-mode .message-container .error, .dark-mode .message-container .success, .message-container .success, .message-container .error, .message-container .warning {
  background: #def2fa;
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
  margin: 1rem 0;
  max-width: 30vw;
  display: flex;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  position: relative;
}

.message-container .info i, .dark-mode .message-container .info i, .dark-mode .message-container .warning i, .dark-mode .message-container .error i, .dark-mode .message-container .success i, .message-container .success i, .message-container .error i, .message-container .warning i {
  color: #005db7;
}

.message-container .info .fa-circle-xmark, .message-container .success .fa-circle-xmark, .message-container .error .fa-circle-xmark, .message-container .warning .fa-circle-xmark {
  position: absolute;
  top: 1rem;
  right: 0.25rem;
  color: #51a9ff;
  cursor: pointer;
}

.message-container .info p, .dark-mode .message-container .info p, .dark-mode .message-container .warning p, .dark-mode .message-container .error p, .dark-mode .message-container .success p, .message-container .success p, .message-container .error p, .message-container .warning p {
  color: #00004d;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.message-container .warning, .dark-mode .message-container .warning {
  background: #ffffcc;
}

.message-container .warning i, .dark-mode .message-container .warning i {
  color: #ccb602;
}

.message-container .warning .fa-circle-xmark {
  color: #e0c803;
}

.message-container .warning p, .dark-mode .message-container .warning p {
  color: #716501;
}

.message-container .error, .dark-mode .message-container .error {
  background: #fdd9d5;
}

.message-container .error i, .dark-mode .message-container .error i {
  color: #990000;
}

.message-container .error .fa-circle-xmark {
  color: #ff4d4d;
}

.message-container .error p, .dark-mode .message-container .error p {
  color: maroon;
}

.message-container .success, .dark-mode .message-container .success {
  background: #d2f8d2;
}

.message-container .success i, .dark-mode .message-container .success i {
  color: green;
}

.message-container .success .fa-circle-xmark {
  color: #00cd00;
}

.message-container .success p, .dark-mode .message-container .success p {
  color: #005500;
}

.dark-mode .message-container .info, .dark-mode .message-container .warning, .dark-mode .message-container .error, .dark-mode .message-container .success {
  background: black;
}

.dark-mode .message-container .info i, .dark-mode .message-container .warning i, .dark-mode .message-container .error i, .dark-mode .message-container .success i {
  color: #68c2e6;
}

.dark-mode .message-container .info p, .dark-mode .message-container .warning p, .dark-mode .message-container .error p, .dark-mode .message-container .success p {
  color: #7ac9e9;
}

.dark-mode .message-container .info .fa-circle-xmark, .dark-mode .message-container .warning .fa-circle-xmark, .dark-mode .message-container .error .fa-circle-xmark, .dark-mode .message-container .success .fa-circle-xmark {
  color: #5bbce4;
}

.dark-mode .message-container .warning {
  background: black;
}

.dark-mode .message-container .warning i {
  color: #ccb602;
}

.dark-mode .message-container .warning p {
  color: #efd603;
}

.dark-mode .message-container .warning .fa-circle-xmark {
  color: #e0c803;
}

.dark-mode .message-container .error {
  background: black;
}

.dark-mode .message-container .error i {
  color: #ff3333;
}

.dark-mode .message-container .error p {
  color: #ff3d3d;
}

.dark-mode .message-container .error .fa-circle-xmark {
  color: #ff3333;
}

.dark-mode .message-container .success {
  background: black;
}

.dark-mode .message-container .success i {
  color: #00cd00;
}

.dark-mode .message-container .success .fa-circle-xmark {
  color: #00b300;
}

.dark-mode .message-container .success p {
  color: #00e600;
}

@media screen and (max-width: 500px) {
  .message-container .info, .message-container .warning, .message-container .error, .message-container .success, .dark-mode .message-container .info, .dark-mode .message-container .warning, .dark-mode .message-container .error, .dark-mode .message-container .success {
    max-width: unset;
  }
} /*# sourceMappingURL=messages.css.map */

/*# sourceMappingURL=messages.css.map */
