<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.svg' %}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Server 500 Error</title>
</head>
<body>
    <div class="max-w-screen h-screen grid place-items-center bg-[#e5cd03]">
        <div class="flex flex-col gap-y-3 text-center">
            <p class="text-9xl text-black font-bold drop-shadow-lg" style="text-shadow: 2px 2px white">500</p>
            <p class="text-2xl font-semibold">SERVER ERROR</p>
            <p class="font-semibold">There's an issue with the server. Please contact the administrator</p>
            <div class="mt-10 flex items-center justify-center">
                <a class="bg-black py-2 px-4 rounded-lg font-semibold hover:bg-[#444] text-white" href="{% url 'notes:home' %}"><i class="fa-solid fa-house-chimney"></i> HOMEPAGE</a>
            </div>
        </div>
    </div>
</body>
</html>